@import "../../shared/variables";

.search {
  color: $header-font-color;
}

.title {
  margin: 15px 0;
  font-size: 15pt;
  font-weight: 500;
  text-transform: uppercase;
}

.query {
  margin-bottom: 15px;
  padding: 0 15px;
  width: 100%;
  height: 40px;
  background: #000;
  border: none;
  border-bottom: 2px solid $title-color;
  font-size: 11pt;
  line-height: 40px;
  text-transform: capitalize;
  color: #A5A4A4;
}

.searchBy {
  float: left;
  text-transform: uppercase;
  font-size: 9pt;
}

.submit {
  float: right;
  width: 200px;
  height: 30px;
  background: $title-color;
  font-size: 11pt;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  color: $header-font-color;
  cursor: pointer;
  transition: background .2s ease;

  &:hover {
    background: #F13E51;
  }
}