@import "../../shared/variables";

.filter {
  display: inline-block;
  margin-left: 5px;
  padding: 3px 7px;
  background: #2E2E2E;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  color: $header-font-color;
  cursor: pointer;
  transition: background .2s ease;

  &:hover {
    background: #252525;
  }

  &.selected {
    background: $title-color;
  }
}
