.mlist__item {
  margin: 1%;
  padding: 1%;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: border-color .3s ease;

  &:hover {
    border-color: #C7C7C7;
  }

  img {
    display: block;
    margin-bottom: 5%;
    width: 100%;
  }

  h3 {
    margin: 0 0 3%;
    width: calc(100% - 42px);
    font-size: 13pt;
    text-transform: uppercase;
  }
}

.mlist__item_year {
  float: right;
  padding: 2px 5px;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
  font-size: 10pt;
}

.mlist__item_category {
  font-size: 9pt;
  color: #8C8C8C;
}