@import "../../shared/variables";
.header {
  background: url('./img/bg.jpg');
}

.title {
  display: block;
  margin: 20px 0;
  font-size: 18pt;
  font-weight: bold;
  text-decoration: none;
  color: $title-color;
}

.content {
  padding: 20px 6%;
  min-height: 220px;
  background: rgba(0, 0, 0, 0.7);
}
